.header {
  background-color: var(--mantine-color-body);
}

.inner {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &.active {
    color: light-dark(var(--mantine-color-pink-6), var(--mantine-color-pink-5));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding: 12px;
  }
}
